Nombre Grupo: Quillotay
Division: 314
Fecha: {{ ansible_date_time.date }}
--------------------------
Distribucion: {{ ansible_distribution }} {{ ansible_distribution_version }}
Cantidad de Cores: {{ ansible_processor_vcpus }}
--------------------------
R1: Nombre: Joan  Apellido: Quillotay  Legajo: 120745
R2: Nombre: Joan  Apellido: Quillotay  Legajo: 120745
R3: Nombre: Joan  Apellido: Quillotay  Legajo: 120745
R4: Nombre: Joan  Apellido: Quillotay  Legajo: 120745
R5: Nombre: Joan  Apellido: Quillotay  Legajo: 120745
R6: Nombre: Joan  Apellido: Quillotay  Legajo: 120745
